@font-face {
    font-family: El Messiri;
    src: url(fonty/ElMessiri-Bold.ttf);
}

body{
    background-color: cadetblue;
}

header, main, footer{
    background-color: white;
    margin: 10px;
}

header{
    text-align: center;
    font-size: 3em;
    font-family: El Messiri;
    letter-spacing: 2.30px;
    padding: 30px;
}

header:hover{
    background-image: url(BcObrazek.jpg);
    color: lightgoldenrodyellow;
    transition: .5s ease-in-out;
}

nav ul{
    display: flex;
    align-items: center; /*horizontální zarovnání*/
    justify-items: center; /*vertikální zarovnání*/
    justify-content: center; /*vycentruje vše nastřed*/
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: block; /*zbaví položky teček*/
    flex-grow: 1; /* roztáhne položky do volného prostoru*/
    text-align: center;
    font-size: 18px;
    font-family: El Messiri;
    letter-spacing: 0.30px;
    padding: 20px;
}

nav ul li:hover{
    background-color: navy;
    color: lightgoldenrodyellow;
    transition: .3s ease-in-out;
}

#carousel img{
    width: 100%;
    margin-top: -160px;
}

#carousel{
    height: 250px;
    overflow: hidden;
    position: relative;   
}

#img1{
    display: block;
}

#img2, #img3{
    display: none;
}

.sipka{
    position: absolute;
    top: 90px;
    color: white;
    font-size: 60px;
    width: 100px;
}

#sipkaL{
    left: 20px;
}

#sipkaP{
    right: 20px;
}
